<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-huggingface.ZPM">
    <Module>
      <Name>iris-huggingface</Name>
      <Description>Hugging face on IRIS</Description>
      <Version>0.0.3</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>pex-embbeded-python</Name>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Name="TestLookupTable.LUT"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
